<%= link_to "一覧へ戻る", :entries %>
<ul>
<li><%= @entry.id %></li>
<li><%= @entry.title %></li>
<li><%= @entry.body %></li>
<li><%= @entry.posted_at %></li>
<li><%= entry_image_tag @entry, width:96 %></li>
</ul>